
body {
    background: url("assets/images/oak_roots_tie.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 80px 0 70px 0;
    padding: 35px 2.5% 35px 2.5%;
    min-height: 100vh;
    position: relative;
}

#cv {
    padding-bottom: 35px;
}

#tel {
    letter-spacing: 2px;
}

a {
    color: #D9FFCD;
}

#header-name>h2>a {
    color: #4E7F40
}

#header-contact-info>h5>a {
    color: #4E7F40
}

.navbar-default {
    position: fixed !important;
    bottom: 0 !important;
    width: 95%;
    right: 0%;
    left: 2.5%;
    margin: 0 !important;
    opacity: .9;
}

.navbar-default .navbar-nav>li>a {
    color: #D9FFCD !important;
}

.navstyle {
    background-color: #A479A4 !important;
    color: #D9FFCD !important;
}

.navcolor {
    color: #D9FFCD !important;
}

.dropup {
    opacity: 1;
}

p {
    padding: 0 350px 0 0;
}

/* {
    border: solid 1px red;
}*/