/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    /*body {
        background-color: silver;
    }*/
}

body {
    background-color: #6c7f67;
    padding: 1% 0% 13% 0%;
}

.navstyle {
    background-color: #D9FFCD !important;
    color: #6EB25A !important;
    border: #6EB25A 1.5px solid !important;
}

.navcolor {
    color: #6EB25A !important;
}

.all {
    color: #D9FFCD;
    background-color: #6EB25A;
    padding: 3%;
}

#title {
    position: relative;
    right: 17%;
}

#comparison #title {
    position: inherit;
}

#comparison, hr {
    width: 100%;
}

h1 {
    color: #D9FFCD;
    text-align: center;
    width: auto;
    vertical-align: middle;
}
hr {
    border-color: #6c7f67
}

hr.specialtest {
    margin: 0 0px 0 37px;
    width: 90%;
}

hr.special {
    margin: 20px 0px 0px 37px;
    width: 90%;
}

.box {
    color: #D9FFCD;
    background-color: #6EB25A;
    /*border: 3px #6c7f67 solid;
    border-radius: 35%;*/
    vertical-align: middle;
    /*width: 500px;*/
    height: auto;
    padding: 0% 0%;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: linear-gradient(to bottom,#6c7f67 0, #6c7f67 100%);
}

#index h4 {
    background-color: #6EB25A;
    padding: 2% 0% 0% 0%;
}

#image {
    border-top: #6c7f67 solid 2px;
    border-left: #6c7f67 solid 2px;
    border-right: #6c7f67 solid 2px;
}

#index-image {
    float: left;
    height: 200px;
    width: 300px;
    border: 0;
    padding: 5px 5px 5px 5px;
}

#index h4 {
    text-align: right;
    padding-right: 13.5%;
}

#index #analysis hr {
    width: 300px;
}

#index #analysis {
    padding: 2% 5%;
}

#index p {
    padding: 0 !important;
    line-height: 200%;
}

#mainbox {
    padding: 1% 5%;
}

#visualizations img:hover {
    border: #D9FFCD 2px solid;
}

#visualizations img {
    padding: 3%;
}

nav a:hover {
    border: #D9FFCD 2px solid;
}

#analysis {
    background-color: #6EB25A;
    border-bottom: #6c7f67 solid 2px;
    border-left: #6c7f67 solid 2px;
    border-right: #6c7f67 solid 2px;
}

#index #analysis {
    border: #6c7f67 solid 2px !important;
}

#temperature #analysis {
    background-color: #6EB25A;
    border-left: #6c7f67 solid 2px;
    border-right: #6c7f67 solid 2px;
    border-bottom: 0 !important;
}

#analysis, h4 {
    padding: .5% 0% 0% 0%;
}

#analysis p {
    padding: 2% 13% 5% 13%;
}

#map {
    background-color: #6EB25A;
    border-bottom: #6c7f67 solid 2px;
    border-left: #6c7f67 solid 2px;
    border-right: #6c7f67 solid 2px;
}

#map, h4 {
    padding: .5% 0% 0% 0%;
}

#map p {
    padding: 2% 13% 5% 13%;
}

#map img {
    padding: 2%;
}

#visualizations {
    background-color: #6EB25A;
    padding: 2% 1% 5% 1%;
}

#visualizations hr {
    width: 90%;
}

#image hr {
    width: 90%;
}

img.active {
    border: #6c7f67 2px solid;
}

.line {
    display: inline-block;
}

.center {
    align-content: center;
    justify-content: center;
}

table, th, td {
    border: 1px solid black;
    border-spacing: 5px; /* why won't this apply ? */
}

tr:nth-child(even) {
    background-color: #6c7f67
}

.bulletproof {
    list-style-type: none;
}

/*body {
    background-color: silver;
}*/

/* Pagination links */
.pagination a {
    color: #D9FFCD;
    float: left;
    padding: 21px 211px;
    text-decoration: none;
    transition: background-color .3s;
    border: #6c7f67 1px solid;
  }
  
  /* Style the active/current link */
  .pagination a.active {
    background-color: #D9FFCD;
    color: #6EB25A;
  }
  
  /* Add a grey background color on mouse-over */
  .pagination a:hover:not(.active) {background-color: #6c7f67;}